body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* font-size: smaller; */
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation Bar */
.navi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.navbar .logo {
    float: left;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    float: right;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero {
    position: relative;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('food1.jpeg') no-repeat center/cover;
    filter: blur(8px); /* Adjust the value to control the blur intensity */
    z-index: -1; /* Ensures the background stays behind the text */
}


.hero h2 {
    font-size: 50px;

    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;

    margin-bottom: 20px;
}

.btn {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Food Menu Section */
.menu {
    padding: 50px ;
}

.menu h2 {
    text-align: center;
    margin-bottom: 30px;
}

.food-items {
    display: flex;
    justify-content: space-evenly;
}

.food-item {
    text-align: center;
}

.food-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.food-item h3 {
    margin-top: 15px;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
